---
title: Events and Chapters
header: Events
subheader: GiveCamp events and chapters around the world.
leaflet: true
---

<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="section-heading text-uppercase">Upcoming Events</h3>
				</div>
		</div>
</div>

<div class="row event">
		<% upcoming_chapters = get_upcoming_chapters() %>
		<% upcoming_chapters.each do |key, chapter| %>
				<div class="col-lg-12">
						<div class="row">
							<div class="event-image col-md-3">
								<img title="<%= chapter.title %>" alt="<%= chapter.title %>" src="/img/chapters/<%= chapter.has_key?("img") ? chapter.img : 'default-img.png' %>" copyright="<%= chapter.has_key?("img_attribution") ? chapter.img_attribution : '' %>" >
							</div>
							<div class="event-details col-md-9">
									<h4 class="service-heading"><%= chapter.title %></h4>
									<p><%= chapter.city %>, <%= chapter.state %><br><%= Date.parse(get_next_event(chapter).start_date).strftime('%b %e, %Y') %>&ndash;<%= Date.parse(get_next_event(chapter).end_date).strftime('%b %e, %Y') %> </p>
									<% if chapter.has_key?("url") %>
										<p><a class="external" href="<%= chapter.url %>"><%= chapter.url %></a></p>
									<% end %>
									<div class="pull-right buttons">
										<% if get_next_event(chapter).volunteer_signup_url != nil %>
											<a href="<%= get_next_event(chapter).volunteer_signup_url %>"><button class="btn btn-md btn-volunteers">Volunteer Sign Up</button></a>
										<% end %>
										<% if get_next_event(chapter).non_profit_signup_url != nil %>
											<a href="<%= get_next_event(chapter).non_profit_signup_url %>"><button class="btn btn-md btn-charities">Charity Sign Up</button></a>
										<% end %>
									</div>
							</div>
						</div>
				</div>
		<% end %>
</div>


<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="section-heading text-uppercase">GiveCamp Chapters</h3>
				</div>
		</div>
</div>

<div class="container">
	<div class="maprow">
		<div id="eventsmap"></div>
	</div>
</div>


<div class="container">
	<% chapters = data.chapters.sort_by { |key, chapter| chapter.title } %>
	<div class="row">
		<% chapters.each do |key, chapter| %>
				<div class="col-md-6 col-lg-4 chapter-card">
					<p>
						<strong><%= chapter.title %></strong><br>
						<%= chapter.city %>, <%= chapter.state %>
						<% if chapter.has_key?("url") %>
							<br><a class="external" href="<%= chapter.url %>"><%= chapter.url %></a>
						<% end %>
					</p>
				</div>
		<% end %>
	</div>
</div>

<script type="application/javascript">
	var map = L.map('eventsmap').setView([39.0473, -95.6752], 4);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

map.scrollWheelZoom.disable();

var giveCampIcon = L.icon({
	iconUrl: '/img/givecamp-map-pin.png',
	iconSize: [32, 36],
	iconAnchor: [16, 32],
	popupAnchor: [16, 32]
});
var inactiveIcon = L.icon({
	iconUrl: '/img/inactive-map-pin.png',
	iconSize: [32, 36],
	iconAnchor: [16, 32],
	popupAnchor: [16, 32]
});

var lc = L.control.locate({
"flyTo": true,
"locateOptions": {"maxZoom": 7.75}
}).addTo(map);

<% chapters = data.chapters %>
<% chapters.each do |key, chapter| %>
	<% if chapter.respond_to?(:longitude) and chapter.respond_to?(:latitude) %>
	  <% if chapter.respond_to?(:url) %>
		  L.marker([<%= chapter.latitude %>, <%= chapter.longitude %>], {icon: giveCampIcon}).addTo(map).bindPopup("<a href='<%= chapter.url %>'><%= chapter.title %><br><%= chapter.city %>, <%= chapter.state %></a>");
    <% else %>
		  L.marker([<%= chapter.latitude %>, <%= chapter.longitude %>], {icon: inactiveIcon}).addTo(map).bindPopup("<%= chapter.title %><br><%= chapter.city %>, <%= chapter.state %>");
	  <% end %>
	<% end %>
<% end %>
</script>
