---
header: "Events"
subheader: "Lorem ipsum dolor sit amet consectetur."
leaflet: true
---

<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="section-heading text-uppercase">Upcoming Events</h3>
				</div>
		</div>
</div>
    
<div class="row">
		<% chapters = data.chapters.select { |name, chapter| get_next_event(chapter) != nil } %>
		<% chapters = chapters.sort_by { |name, chapter| get_next_event(chapter).start_date || '1970-01-01' } %>
		<% chapters = chapters.reverse! %>
		<% chapters.each do |key, chapter| %>
				<div class="col-lg-12">
							<div class="event-image">
								<a href="<%= chapter.url %>">
								
								</a>
							</div>
							<div class="event-details">
								<a href="<%= chapter.url %>">
									<h4 class="service-heading"><%= chapter.title %></h4>
									<p><%= chapter.city %></p>
									<p class="text-muted"><%= get_next_event(chapter).start_date %></p>
								</a>
								<% if get_next_event(chapter).volunteer_signup_url != nil %>
									<a href="<%=get_next_event(chapter).volunteer_signup_url %>">Volunteer Signup</a>
								<% end %>
								<% if get_next_event(chapter).non_profit_signup_url != nil %>
									<br><a href="<%=get_next_event(chapter).non_profit_signup_url %>">Non-profit Signup</a>
								<% end %>
							</div>
				</div>
		<% end %>
</div>

<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="section-heading text-uppercase">Events Nearby</h3>
				</div>
		</div>
</div>

<div class="container">
		<div id="eventsmap"></div>
</div>


<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="section-heading text-uppercase">Previous Events</h3>
				</div>
		</div>
</div>

<div>
	<% prev_chapters = get_previous_chapters() %>
	<div class="row">
		<% prev_chapters.each do |key, chapter| %>
				<div class="col-lg-12">
					<a href="<%= chapter.url %>">
						<h4 class="service-heading"><%= chapter.title %></h4>
					</a>
				</div>
		<% end %>
	</div>
</div>




<script type="application/javascript">
	var map = L.map('eventsmap').setView([39.0473, -95.6752], 4);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

map.scrollWheelZoom.disable();

var giveCampIcon = L.icon({
	iconUrl: '/img/givecamp-map-pin.png',
	iconSize: [32, 36],
	iconAnchor: [16, 36],
	popupAnchor: [16, 36]
});

var lc = L.control.locate({
"flyTo": true,
"locateOptions": {"maxZoom": 7.75}
}).addTo(map);


<% chapters.each do |key, chapter| %>
	<% if chapter.respond_to?(:longitude) and chapter.respond_to?(:latitude)  %>
		L.marker([<%= chapter.latitude %>, <%= chapter.longitude %>], {icon: giveCampIcon}).addTo(map).bindPopup("<a href='<%= chapter.url %>'><%= chapter.title %><br><%= chapter.city %>, <%= chapter.state %></a>");
	<% end %>
<% end %>
</script>