<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Get Involved</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>For Sponsors</h3>
                <p>
                    As a GiveCamp sponsor, your support helps bring together all of the volunteers and developers that are working 
                    towards creating web applications for the selected non-profit organizations.
                </p>
                <p>
                    Many of the projects created at GiveCamp would typically cost each non-profit between $5,000 and $10,000. 
                    And the efficiencies the solutions create – often reducing the paperwork and staff time needed to complete 
                    work – means GiveCamp creates value beyond the cost of the projects themselves. Sponsors are an important part 
                    of ensuring that non-profits continue to benefit from this valuable work, with no cost to participate.
                </p>
                <p>
                    It will take more than the passion and expertise of our volunteers to make this happen. We need your support to 
                    help provide a fun and rewarding environment for our volunteers and developers.  Your sponsorships help in areas 
                    such as :
                </p>
                <ul>
                    <li>Meals and snacks for the volunteers and developers throughout the event weekend</li>
                    <li>Software to be used in web site development of the actual web sites</li>
                    <li>Prizes for Giveaways at the end of the event</li>
                    <li>Goodie-bag items for each of the developers and volunteers</li>
                    <li>T-Shirts & Name tags</li>
                    <li>Professional Services</li>
                </ul>
                <p>
                    Sponsors will receive recognition throughout the GiveCamp weekend, including the opportunity to have their 
                    logo printed on materials and featured on the GiveCamp website.
                </p>
                <p>
                    Ready to support the technology needs of our non-profit community? Check out the list of 
                    <%= link_to 'upcoming GiveCamp events', '/events.html' %> or just drop us a line at 
                    <%= mail_to 'givecamp@live.com', 'givecamp@live.com' %> and we’ll hook you up!
                </p>
            </div>
        </div>

        <br>

        <div class="row">
                <div class="col-lg-12">
                    <h3>For Organizers</h3>
                    <p>
                        So, you’re thinking about running a GiveCamp are you?  Congratulations!  You’re about to enter into a world 
                        of fun, excitement and terror unique to organizing charity events in the developer community 🙂  
                        I’ll post more here when I get the time, but in the interim, be sure to check out some of the resources 
                        available to you such as our <%= link_to 'Event Cookbook', '/cookbook.html' %>, and the GiveCamp starter site project on CodePlex.    
                    </p>
                    <p>
                        Here are some downloads that might help you during your planning:
                    </p>
                    <p>
                        <%= link_to 'Workplan Proposal for Charities [Microsoft Word]', '/resources/Proposal-Work-Plan.doc' %><br>
                        <%= link_to 'Accept email for GiveCamp [Text File]', '/resources/Accept-email-for-GiveCamp.txt' %><br>
                        <%= link_to 'Reject email for GiveCamp [Text File]', '/resources/Reject-email-for-Give-Camp.txt' %><br>
                        <%= link_to 'GiveCamp Nametags [Microsoft Publisher]', '/resources/GiveCamp_Nametags.pub' %><br>
                        <%= link_to 'Opening Ceremony [Microsoft Powerpoint]', '/resources/GiveCampOpeningCeremony2009.ppt' %><br>
                        <%= link_to 'Closing Ceremony [Microsoft Powerpoint]', '/resources/GiveCampClosingCeremony2009.ppt' %><br>
                        <%= link_to 'Evaluation Form [Microsoft Word]', '/resources/Michigan-Give-Camp-Evaluation-2009.docx' %><br>
                        <%= link_to 'GiveCamp Story Form [Microsoft Word]', '/resources/GiveCamp-story-template.docx' %><br>
                    </p>
                    <p>
                        Eventually, we’ll work to make these easier for you to find and get to, but for now, we’re listing 
                        them here as plain old downloads.
                    </p>
                </div>
            </div>
    </div>
</div>

