---
pageable: true
per_page: 10
body_class: "body-transparentNav"
isIndex: true
header: "header"
leaflet: true
---
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><img src="/img/logos/horiz-logo-white@2x.png" alt="GiveCamp"></div>
      <div class="intro-heading text-uppercase">A Tsunami of Goodwill</div>
    </div>
  </div>
</header>    

<section class="bg-light" style="padding-top: 30px">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Upcoming Events</h3>
        <br>
        <div class="row text-center">
          <% chapters = data.chapters.select { |name, chapter| get_next_event(chapter) != nil } %>
          <% chapters = chapters.sort_by { |name, chapter| get_next_event(chapter).start_date || '1970-01-01' } %>
          <% chapters = chapters.reverse! %>
          <% chapters = chapters.slice(0,3) %>
          <% chapters.each do |key, chapter| %>
            <div class="col-md-4">
              <a href="<%= chapter.url %>">
                <img title="<%= chapter.title %>" alt="<%= chapter.title %>" src="/img/chapters/<%= chapter.has_key?("img") ? chapter.img : 'default-img.png' %>" copyright="<%= chapter.has_key?("img_attribution") ? chapter.img_attribution : '' %>" >
                <h4 class="service-heading"><%= chapter.title %></h4>
                <p><%= chapter.city %>, <%= chapter.state %><br><%= Date.parse(get_next_event(chapter).start_date).strftime('%b %e, %Y') %>&ndash;<%= Date.parse(get_next_event(chapter).end_date).strftime('%b %e, %Y') %> </p>
              </a>
            </div>
          <% end %>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Find Your Local Chapter</h3>
        <div id="eventsmap"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Get Involved</h3>
        <p>Ready to become part of GiveCamp?</p>
        <ul>
          <li>If you are interested in running an event, check out our <%= link_to 'For Organizers', '/get-involved/organizers.html' %> page.</li>
          <li>If you are a charity looking for some extra help, check out our <%= link_to 'Get Help', '/get-help.html' %> page</li>
          <li>If you are interested in sponsoring a local GiveCamp event, check out our <%= link_to 'For Partners', '/get-involved/partners.html' %> page</li>
          <li>If you would like to partner with GiveCamp, perhaps to provide software, tools, or other services to all of our local area GiveCamp events, <%= link_to 'contact us', '/contact.html' %> and let's get the conversation started! We already have a number of <strong>fantastic</strong> partnerships with some <a href="/partners">amazing companies</a>, and we'd love to add your company to the list!</li>
          <li>If you are a developer looking to participate, use the map below to find upcoming events in your area!</li>
        </ul>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Recent Articles</h3>
        <ol>
          <% blog.articles[0...10].slice(0,3).each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>
        <br>
      </div>
    </div>
  </div>
</section>


<script type="application/javascript">
	var map = L.map('eventsmap').setView([39.0473, -95.6752], 4);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

map.scrollWheelZoom.disable();

var giveCampIcon = L.icon({
	iconUrl: '/img/givecamp-map-pin.png',
	iconSize: [32, 36],
	iconAnchor: [16, 36],
	popupAnchor: [16, 36]
});

var lc = L.control.locate({
"flyTo": true,
"locateOptions": {"maxZoom": 7.75}
}).addTo(map);


<% chapters.each do |key, chapter| %>
	<% if chapter.respond_to?(:longitude) and chapter.respond_to?(:latitude)  %>
		L.marker([<%= chapter.latitude %>, <%= chapter.longitude %>], {icon: giveCampIcon}).addTo(map).bindPopup("<a href='<%= chapter.url %>'><%= chapter.title %><br><%= chapter.city %>, <%= chapter.state %></a>");
	<% end %>
<% end %>
</script>






