---
header: "Organizers"
subheader: "Lorem ipsum dolor sit amet consectetur."
---
<div class="row">
    <div class="col-lg-12">
        <p>
            So, you’re thinking about running a GiveCamp are you?  Congratulations!  You’re about to enter into a world 
            of fun, excitement and terror unique to organizing charity events in the developer community 🙂  
            I’ll post more here when I get the time, but in the interim, be sure to check out some of the resources 
            available to you such as our <%= link_to 'Event Cookbook', '/cookbook.html' %>, and the GiveCamp starter site project on CodePlex.    
        </p>
        <p>
            Here are some downloads that might help you during your planning:
        </p>
        <p>
            <%= link_to 'Workplan Proposal for Charities [Microsoft Word]', '/resources/Proposal-Work-Plan.doc' %><br>
            <%= link_to 'Accept email for GiveCamp [Text File]', '/resources/Accept-email-for-GiveCamp.txt' %><br>
            <%= link_to 'Reject email for GiveCamp [Text File]', '/resources/Reject-email-for-Give-Camp.txt' %><br>
            <%= link_to 'GiveCamp Nametags [Microsoft Publisher]', '/resources/GiveCamp_Nametags.pub' %><br>
            <%= link_to 'Opening Ceremony [Microsoft Powerpoint]', '/resources/GiveCampOpeningCeremony2009.ppt' %><br>
            <%= link_to 'Closing Ceremony [Microsoft Powerpoint]', '/resources/GiveCampClosingCeremony2009.ppt' %><br>
            <%= link_to 'Evaluation Form [Microsoft Word]', '/resources/Michigan-Give-Camp-Evaluation-2009.docx' %><br>
            <%= link_to 'GiveCamp Story Form [Microsoft Word]', '/resources/GiveCamp-story-template.docx' %><br>
        </p>
        <p>
            Eventually, we’ll work to make these easier for you to find and get to, but for now, we’re listing 
            them here as plain old downloads.
        </p>
    </div>
</div>